@* 
<div class="container-fluid">

    <div class="col-8 offset-2 full-height">

        <div class="row mb-1">
            <div class="col-10 offset-1 shadow py-1 mb-2 bg-body-tertiary rounded">
                <div class="d-flex align-items-center justify-content-between">

                    <div class="">
                        <p class="mb-0 text-dark">Transferencia desde <span class="fw-bold">123456789</span></p>
                        <p class="mb-0 text-dark">Nombre Apellido</p>
                        <p class="mb-0 text-secondary">05/07/2024</p>
                    </div>

                    <div class="">
                        <p class="mb-0 text-primary">+RD$850.00</p>
                    </div>

                </div>
            </div>
        </div>

        <div class="row mb-1">
            <div class="col-10 offset-1 shadow py-1 mb-2 bg-body-tertiary rounded">
                <div class="d-flex align-items-center justify-content-between">

                    <div class="">
                        <p class="mb-0 text-dark">Transferencia desde <span class="fw-bold">123456789</span></p>
                        <p class="mb-0 text-dark">Nombre Apellido</p>
                        <p class="mb-0 text-secondary">05/07/2024</p>
                    </div>

                    <div class="">
                        <p class="mb-0 text-primary">+RD$850.00</p>
                    </div>

                </div>
            </div>
        </div>

        <div class="row mb-1">
            <div class="col-10 offset-1 shadow py-1 mb-2 bg-body-tertiary rounded">
                <div class="d-flex align-items-center justify-content-between">

                    <div class="">
                        <p class="mb-0 text-dark">Transferencia hacia <span class="fw-bold">123456789</span></p>
                        <p class="mb-0 text-dark">Nombre Apellido</p>
                        <p class="mb-0 text-secondary">04/07/2024</p>
                    </div>

                    <div class="">
                        <p class="mb-0 text-danger">-RD$850.00</p>
                    </div>

                </div>
            </div>
        </div>

        <div class="row mb-1">
            <div class="col-10 offset-1 shadow py-1 mb-2 bg-body-tertiary rounded">
                <div class="d-flex align-items-center justify-content-between">

                    <div class="">
                        <p class="mb-0 text-dark">Pago a Préstamo - <span class="fw-bold">709545823</span></p>
                        <p class="mb-0 text-dark">Nombre Apellido</p>
                        <p class="mb-0 text-secondary">05/07/2024</p>
                    </div>

                    <div class="">
                        <p class="mb-0 text-danger">-RD$850.00</p>
                    </div>

                </div>
            </div>
        </div>

        <div class="row mb-1">
            <div class="col-10 offset-1 shadow py-1 mb-2 bg-body-tertiary rounded">
                <div class="d-flex align-items-center justify-content-between">

                    <div class="">
                        <p class="mb-0 text-dark">Desembolso Préstamo - <span class="fw-bold">709545823</span></p>
                        <p class="mb-0 text-dark">Nombre Apellido</p>
                        <p class="mb-0 text-secondary">05/07/2024</p>
                    </div>

                    <div class="">
                        <p class="mb-0 text-primary">+RD$50,000.00</p>
                    </div>

                </div>
            </div>
        </div>

        <div class="row mb-1">
            <div class="col-10 offset-1 shadow py-1 mb-2 bg-body-tertiary rounded">
                <div class="d-flex align-items-center justify-content-between">

                    <div class="">
                        <p class="mb-0 text-dark">Pago a Tarjeta de Crédito - <span class="fw-bold">470936780</span></p>
                        <p class="mb-0 text-dark">Nombre Apellido</p>
                        <p class="mb-0 text-secondary">05/07/2024</p>
                    </div>

                    <div class="">
                        <p class="mb-0 text-danger">-RD$5,608.12</p>
                    </div>

                </div>
            </div>
        </div>

        <div class="row mb-1">
            <div class="col-10 offset-1 shadow py-1 mb-2 bg-body-tertiary rounded">
                <div class="d-flex align-items-center justify-content-between">

                    <div class="">
                        <p class="mb-0 text-dark">Avance de Efectivo - <span class="fw-bold">470936780</span></p>
                        <p class="mb-0 text-dark">Nombre Apellido</p>
                        <p class="mb-0 text-secondary">05/07/2024</p>
                    </div>

                    <div class="">
                        <p class="mb-0 text-primary">+RD$600.00</p>
                    </div>

                </div>
            </div>
        </div>

        <div class="row mb-1">
            <div class="col-10 offset-1 shadow py-1 mb-2 bg-body-tertiary rounded">
                <div class="d-flex align-items-center justify-content-between">

                    <div class="">
                        <p class="mb-0 text-dark">Transferencia desde <span class="fw-bold">123598789</span></p>
                        <p class="mb-0 text-dark">Nombre Apellido</p>
                        <p class="mb-0 text-secondary">05/07/2024</p>
                    </div>

                    <div class="">
                        <p class="mb-0 text-primary">+RD$1,250.00</p>
                    </div>

                </div>
            </div>
        </div>

        <div class="row mb-1">
            <div class="col-10 offset-1 shadow py-1 mb-2 bg-body-tertiary rounded">
                <div class="d-flex align-items-center justify-content-between">

                    <div class="">
                        <p class="mb-0 text-dark">Transferencia hacia <span class="fw-bold">12389547</span></p>
                        <p class="mb-0 text-dark">Nombre Apellido</p>
                        <p class="mb-0 text-secondary">05/07/2024</p>
                    </div>

                    <div class="">
                        <p class="mb-0 text-danger">-RD$3,500.00</p>
                    </div>

                </div>
            </div>
        </div>

        <div class="row mb-1">
            <div class="col-10 offset-1 shadow py-1 mb-2 bg-body-tertiary rounded">
                <div class="d-flex align-items-center justify-content-between">

                    <div class="">
                        <p class="mb-0 text-dark">Depósito Bancario</p>
                        <p class="mb-0 text-dark">N/A</p>
                        <p class="mb-0 text-secondary">05/07/2024</p>
                    </div>

                    <div class="">
                        <p class="mb-0 text-primary">+RD$5,000.00</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div> *@