@{
    ViewData["Title"] = "Avances de efectivo";

}

<div class="container-fluid">

    <div class="row">
        <div class="col-6 offset-3">
            <div class="card">
                <div class="card-header bg-dark text-light">
                    <h4>Avances de efectivo</h4>
                </div>
                <div class="card-body">

                    <form method="post" asp-controller="" asp-action="" enctype="multipart/form-data">


                        <div class="mb-3">
                            <label class="form-label">Tarjeta de credito</label>
                            <select class="form-select">
                                <option value="">Seleccione una opcion</option>
                                <option value="">234876908</option>
                                <option value="">654879675</option>
                            </select>
                            <span class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Cuenta de ahorro</label>
                            <select class="form-select">
                                <option value="">Seleccione una opcion</option>
                                <option value="">234876908</option>
                                <option value="">654879675</option>
                            </select>
                            <span class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Monto: </label>
                            <input type="number" class="form-control" />
                            <span class="text-danger"></span>
                        </div>



                        @*                         <input type="hidden" asp-for="Id" />
                        *@
                        <button type="submit" class="btn btn-primary">Realizar</button>
                        <a asp-controller="Client" asp-action="Index" class="btn btn-warning">Volver atras</a>


                    </form>

                </div>

            </div>
        </div>
    </div>

</div>

