@using BankingApp.Core.Application.ViewModels.Payment
@model SaveCreditCardPaymentViewModel

@{
    ViewData["Title"] = "Pago a tarjeta de credito";

}

<div class="container-fluid">

    <div class="row">
        <div class="col-6 offset-3">
            <div class="card">
                <div class="card-header bg-dark text-light">
                    <h4>Pago a tarjeta de credito</h4>
                </div>
                <div class="card-body">

                    <form method="post" asp-controller="Client" asp-action="CreditCardPayment" enctype="multipart/form-data">

                        <div class="mb-3">
                            <label asp-for="ToCreditCardId" class="form-label">Tarjeta de credito</label>
                            <select asp-for="ToCreditCardId" class="form-select">
                                <option value="">Seleccione una opcion</option>
                                @foreach (var creditCard in Model.ToCreditCards)
                                {
                                    <option value="@creditCard.Id">@creditCard.Id</option>
                                }
                            </select>
                            <span asp-validation-for="ToCreditCardId" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="FromAccountId" class="form-label">Cuenta de ahorro</label>
                            <select asp-for="FromAccountId" class="form-select">
                                <option value="">Seleccione una opcion</option>
                                @foreach (var Account in Model.FromAccounts)
                                {
                                    <option value="@Account.Id">@Account.Id</option>
                                }
                            </select>
                            <span asp-validation-for="FromAccountId" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="Amount" class="form-label">Monto a pagar: </label>
                            <input asp-for="Amount" type="number" class="form-control" />
                            <span asp-validation-for="Amount" class="text-danger"></span>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" value="1" type="radio" name="AmountTodate" id="flexRadioDefault1">
                            <label class="form-check-label" for="flexRadioDefault1">
                                Pagar monto hasta la fecha.
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" value="2" type="radio" name="AmountAsOfCutoffDate" id="flexRadioDefault2" checked>
                            <label class="form-check-label" for="flexRadioDefault2">
                                Pagar monto hasta la fecha de corte.
                            </label>
                        </div>
                        <div class="form-check">
                            <input asp-for="Amount" class="form-check-input" value="" type="radio" name="OtherAmount" id="flexRadioDefault3" checked>
                            <label class="form-check-label" for="flexRadioDefault3">
                                Otro monto
                            </label>
                        </div>



@*                         <input type="hidden" asp-for="Id" />
 *@
                        <button type="submit" class="btn btn-primary">Realizar pago</button>
                        <a asp-controller="Paciente" asp-action="Index" class="btn btn-warning">Volver atras</a>


                    </form>

                </div>

            </div>
        </div>
    </div>

</div>



<div class="modal fade" id="TransactionCancelled" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">Transacción cancelada</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>ViewBag.Message</p>
            </div>
            <div class="modal-footer">
                <a asp-controller="Client" asp-action="Index" type="button" class="btn btn-primary">OK</a>
            </div>
        </div>
    </div>
</div>


@if (ViewBag.Message != null)
{
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var modal = new bootstrap.Modal(document.getElementById('TransactionCancelled'));
            modal.show();
        });

        function showTransactionModal() {
            $('#Transaction').modal('show');
        }
    </script>
}

<div class="modal fade" id="Transaction" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">Monto</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form asp-controller="Beneficiary" asp-action="Add" method="post">
                <input required type="text" class="form-control" name="Amount" />


                <div class="modal-footer">
                    <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Cancelar</button>
                    <input type="submit" class="btn btn-success" value="Realizar" />
                </div>
            </form>
        </div>
    </div>
</div>