@using BankingApp.Core.Application.ViewModels.Beneficiary;
@model SaveBeneficiaryViewModel
@{
    ViewData["Title"] = "Eliminar beneficiario";
}

<div class="row">

    <div class="col-6 offset-3">
        <div class="card">
            <div class="card-header bg-danger text-light">
                <h4>Esta seguro que desea eliminar el beneficiario?</h4>
            </div>
            <div class="card-body">

                <form method="post" asp-controller="Client" asp-action="DeletePost">

                    @* <input type="hidden" asp-for="Id" /> *@

                    <button type="submit" class="btn btn-danger">Eliminar</button>
                    <a asp-controller="Client" asp-action="Beneficiary" class="btn btn-warning">Cancelar</a>

                </form>

            </div>
        </div>
    </div>

</div>

