@using BankingApp.Core.Application.ViewModels.Product
@model ProductsViewModel

<div class="container-fluid">
    @if (ViewBag.Message != "")
    {
        <div class="alert alert-info alert-dismissible fade show text-center" role="alert">
            <h5 class="fw-bold">@ViewBag.Message</h5>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Cerrar"></button>
        </div>
    }
    <div class="shadow p-3 mb-5 bg-body-tertiary rounded border">
        <div class="row mb-4">
            <h2 class="text-center fw-bold text-success mb-5">Tus productos</h2>
            <div class="col-4 border-end">
                <h3 class="text-center fw-bold mb-5 mt-2 text-success">Cuentas de ahorro</h3>
                <div class="full-height">
                    <div class="product-grid">
                        @if(Model.savingsAccounts == null || Model.savingsAccounts.Count == 0)
                        {
                            <h5 class="text-muted text-center">No tienes cuentas de ahorro</h5>
                        }
                        else
                        {
                            @foreach (var account in Model.savingsAccounts)
                            {
                                <div class="mb-3">
                                    <div class="card border-success">
                                        <div class="card-body">
                                            <div class="card-title">
                                                <div class="d-flex align-items-center justify-content-start gap-1">
                                                    <h4 class="mb-0 text-wrap">@account.Id</h4>
                                                </div>
                                            </div>
                                            <div>
                                                <h5 class="fw-bold">Balance: <span class="fw-bold text-success">RD$@account.Balance</span></h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
            <div class="col-4 border-end">
                <h3 class="text-center fw-bold mb-5 mt-2 text-success ">Prestamos</h3>
                <div class="full-height">
                    <div class="product-grid">
                        @if (Model.Loans == null || Model.Loans.Count == 0)
                        {
                            <h5 class="text-muted text-center">No tienes prestamos</h5>
                        }
                        else
                        {
                            @foreach (var loan in Model.Loans)
                            {
                                <div class="mb-3">
                                    <div class="card border-success">
                                        <div class="card-body">
                                            <div class="card-title">
                                                <div class="d-flex align-items-center justify-content-start gap-1">
                                                    <h4 class="mb-0 text-wrap">@loan.Id</h4>
                                                </div>
                                            </div>
                                            <div>
                                                <h5 class="fw-bold">Monto por pagar: <span class="fw-bold text-success">RD$@loan.Balance</span></h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
            <div class="col-4">
                <h3 class="text-center fw-bold mb-5 mt-2 text-success">Tarjetas de crédito</h3>
                <div class="full-height">
                    <div class="product-grid">
                        @if (Model.CreditCards == null || Model.CreditCards.Count == 0)
                        {
                            <h5 class="text-muted text-center">No tienes tarjetas de credito</h5>
                        }
                        else
                        {
                            @foreach (var CreditCard in Model.CreditCards)
                            {
                                <div class="mb-3">
                                    <div class="card border-success">
                                        <div class="card-body">
                                            <div class="card-title">
                                                <div class="d-flex align-items-center justify-content-start gap-1">
                                                    <h4 class="mb-0 text-wrap">@CreditCard.Id</h4>
                                                </div>
                                            </div>
                                            <div>
                                                <h5 class="fw-bold">Monto por pagar: <span class="fw-bold text-success">RD$@CreditCard.Balance</span></h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>