@using BankingApp.Core.Application.ViewModels.Payment
@model SaveLoanPaymentViewModel

@{
    ViewData["Title"] = "Pago de prestamos";

}

<div class="container-fluid">

    <div class="row">
        <div class="col-6 offset-3">
            <div class="card">
                <div class="card-header bg-dark text-light">
                    <h4>Pago de prestamos</h4>
                </div>
                <div class="card-body">

                    <form method="post" asp-controller="Client" asp-action="LoanRepayment" enctype="multipart/form-data">


                        <div class="mb-3">
                            <label class="form-label">Prestamo</label>
                            <select class="form-select">
                                <option value="">Seleccione una opcion</option>
                                <option value="">234876908</option>
                                <option value="">654879675</option>
                            </select>
                            <span class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="FromAccountId" class="form-label">Cuenta de ahorro</label>
                            <select asp-for="FromAccountId" class="form-select">
                                <option value="">Seleccione una opcion</option>
                                @foreach (var Account in Model.FromAccounts)
                                {
                                    <option value="@Account.Id">@Account.Id</option>
                                }
                            </select>
                            <span asp-validation-for="FromAccountId" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="Amount" class="form-label">Monto a pagar: </label>
                            <input asp-for="Amount" type="number" class="form-control" />
                            <span asp-validation-for="Amount" class="text-danger"></span>
                        </div>



                        @*                         <input type="hidden" asp-for="Id" />
                        *@
                        <button type="submit" class="btn btn-primary">Realizar pago</button>
                        <a asp-controller="Client" asp-action="Index" class="btn btn-warning">Volver atras</a>


                    </form>

                </div>

            </div>
        </div>
    </div>

</div>



<div class="modal fade" id="TransactionCancelled" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">Transacción cancelada</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>ViewBag.Message</p>
            </div>
            <div class="modal-footer">
                <a asp-controller="Client" asp-action="Index" type="button" class="btn btn-primary">OK</a>
            </div>
        </div>
    </div>
</div>

@if (ViewBag.Message != null)
{
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var modal = new bootstrap.Modal(document.getElementById('TransactionCancelled'));
            modal.show();
        });
    </script>
}