html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html, body {
    position: relative;
    min-height: 100vh;
}

body {
  margin-bottom: 60px;
}


.w90 {
    width: 90%;
    margin: auto;
}

.w83 {
    width: 83%;
    margin: auto;
}

.w80 {
    width: 80%;
    margin: auto;
}

.w70 {
    width: 70%;
    margin: auto;
}

.w60 {
    width: 60%;
    margin: auto;
}

.w50 {
    width: 50%;
    margin: auto;
}

.w40 {
    width: 40%;
    margin: auto;
}

.full-height {
    height: 50vh;
    overflow-y: scroll;
}

.border-box {
    box-sizing: border-box;
}

.users-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.profile-pic {
    width: 60px;
    height: 60px;
}