<div class="container">
    <div class="w40">
        <div class="card">
            <div class="card-header">
                <div class="d-flex justify-content-between">
                    <h5>Access Denied</h5>
                </div>
            </div>
            <div class="card-body">
                <div class="d-flex justify-content-center alert alert-danger" role="alert">
                    <a asp-controller="Login" asp-action="Index" class="btn btn-primary">Sign in</a>
                </div>
            </div>
        </div>
    </div>
</div>