@{
    var Success = ViewData["Success"] as bool?;
    Success = Success ?? true;
    var error = ViewData["Error"] as string;
    var message = ViewData["Message"] as string;

}

<div class="container">
    <div class="w40">
        <div class="card">
           
            <div class="card-header">
                <div class="d-flex justify-content-between">
                    @if (!Success.Value)
                    {
                        @error
                    }
                    else
                    {
                        @message
                    }
                </div>
            </div>
            <div class="card-body">
                <div class="d-flex justify-content-center alert alert-@(Success.Value ? "primary" : "danger")" role="alert">
                    <a asp-controller="Login" asp-action="Index" class="btn btn-@(Success.Value ? "primary" : "danger")">Sign in</a>
                </div>
            </div>
        </div>
    </div>
</div>