@using BankingApp.Core.Application.ViewModels.Account
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model ForgotPasswordViewModel
@{
    var Success = ViewData["Success"] as bool?;
    Success = Success ?? true;
    var error = ViewData["Error"] as string;
}
<link rel="stylesheet" href="~/SM.WebApplication.styles.css" asp-append-version="true" />


<div class="mt-5 container">
    <div class="w40">
        <div class="card">
            <div class="card-header">
                <div class="d-flex justify-content-between">
                    <h5>Forgot password</h5>
                </div>
            </div>
            <div class="card-body">
                <form method="post" asp-controller="Login" asp-action="ForgotPassword">
                    @if (!Success.Value)
                    {
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            @error
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    }

                    <div class="mb-3">
                        <p class="fw-light">To change your password we need to verify your email</p>
                        <p class="fw-light">We will then send you an email with the link to reset your password</p>
                    </div>

                    <div class="mb-3">
                        <label asp-for="Email" for="exampleInputEmail1" class="form-label">Email address</label>
                        <input asp-for="Email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>

                    <div class="btn-form d-flex align-items-center">
                        <button type="submit" class="btn btn-primary">Next</button>
                        <a asp-controller="Login" asp-action="Index" class="btn btn-warning">Back to log in</a>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>