@using BankingApp.Core.Application.ViewModels.Account

@model LoginViewModel
@{
    ViewData["Title"] = "Home Page";
    var Success = ViewData["Success"] as bool?;
    Success = Success ?? true;
    var error = ViewData["Error"] as string;
}

<div class="container-fluid">
    <div class="w40">
        <div class="card">
            <div class="card-header">
                <div class="d-flex justify-content-between">
                    <h5>Login</h5>
                </div>
            </div>
            <div class="card-body">
                <form method="post" asp-controller="Login" asp-action="Index">

                    @if (!Success.Value)
                    {
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            @error
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    }

                    <div class="mb-3">
                        <label asp-for="UserName" class="form-label">User Name</label>
                        <input asp-for="UserName" type="text" class="form-control">
                        <div class="form-text">We'll never share your user name with anyone else.</div>
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="Password" for="exampleInputPassword1" class="form-label">Password</label>
                        <input asp-for="Password" type="password" class="form-control" id="exampleInputPassword1">
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>

                    <div class="btn-form d-flex align-items-center" style="gap: 3px;">
                        <button type="submit" class="btn btn-primary">Submit</button>
                        <a asp-controller="Login" asp-action="ForgotPassword" class="btn btn-light btn-sm">Forgot Password</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
