@using BankingApp.Core.Application.ViewModels.Account

@model ResetPasswordViewModel
@{
    var Success = ViewData["Success"] as bool?;
    Success = Success ?? true;
    var error = ViewData["Error"] as string;
}
<link rel="stylesheet" href="~/SM.WebApplication.styles.css" asp-append-version="true" />


<div class="mt-5 container">
    <div class="w40">
        <div class="card">
            <div class="card-header">
                <div class="d-flex justify-content-between">
                    <h5>Reset your password</h5>
                </div>
            </div>
            <div class="card-body">
                <form asp-controller="Login" asp-action="ResetPassword">
                    @if (!Success.Value)
                    {
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            @error
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    }
                    <div class="mb-3">
                        <label asp-for="Password" for="exampleInputPassword1" class="form-label">New Password</label>
                        <input asp-for="Password" type="password" class="form-control" id="exampleInputPassword1">
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="ConfirmPassword" for="exampleInputPassword1" class="form-label">Confirm your Password</label>
                        <input asp-for="ConfirmPassword" type="password" class="form-control" id="exampleInputPassword1">
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>

                    <div class="btn-form d-flex align-items-center">
                        <button type="submit" class="btn btn-primary">Next</button>
                        <a asp-controller="Login" asp-action="Index" class="btn btn-warning">Back to log in</a>
                    </div>

                    <input asp-for="Email" type="hidden">
                    <input asp-for="Token" type="hidden">
                </form>
            </div>
        </div>
    </div>
</div>