@using BankingApp.Core.Application.ViewModels.Loan
@model SaveLoanViewModel

<div class="container">
    <div class="w40">
        <div class="card">
            <div class="card-header bg-success fs-4 text-white">
                Nuevo préstamo para @ViewBag.User.FirstName @ViewBag.User.LastName
            </div>
            <div class="card-body">
                <form asp-controller="Admin" asp-action="AddLoan" method="post">

                    <div class="mb-3">
                        <label asp-for="Principal" class="form-label">Monto</label>
                        <input type="number" id="Principal" asp-for="Principal" class="form-control">
                        <span asp-validation-for="Principal" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="InterestRate" class="form-label">Tasa de interés %</label>
                        <input type="number" step="any" id="InterestRate" asp-for="InterestRate" class="form-control">
                        <span asp-validation-for="InterestRate" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="Term" class="form-label">Plazo (meses)</label>
                        <input type="number" id="Term" asp-for="Term" class="form-control">
                        <span asp-validation-for="Term" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="Balance" class="form-label">Balance</label>
                        <input asp-for="Balance" id="Balance" class="form-control" readonly>
                    </div>

                    <div class="mb-3">
                        <label asp-for="Installment" class="form-label">Cuotas</label>
                        <input type="number" id="Installment" asp-for="Installment" class="form-control" readonly>
                    </div>

                    <input type="hidden" asp-for="UserName" value="@ViewBag.User.UserName" />

                    <button type="submit" class="btn btn-success float-end">Asignar préstamo</button>
                    <a asp-controller="Admin" asp-action="Products" asp-route-id="@ViewBag.User.Id" class="btn btn-warning">&larr; Volver atrás</a>

                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        var principal = document.getElementById('Principal');
        var interestRate = document.getElementById('InterestRate');
        var term = document.getElementById('Term');
        var balance = document.getElementById('Balance');
        var installment = document.getElementById('Installment');

        function changeOnElements() {

            var principalValue = principal.value;
            var interestRateValue = interestRate.value;
            var termValue = term.value;
            balance.value = parseFloat(parseFloat(principalValue) + (((parseFloat(interestRateValue) / 100 / 12) * parseFloat(termValue)) * parseFloat(principalValue))).toFixed(2);
            installment.value = parseFloat(balance.value / termValue).toFixed(2);
            console.log(balance.value)

        }

        principal.addEventListener('change', changeOnElements)
        interestRate.addEventListener('change', changeOnElements)
        term.addEventListener('change', changeOnElements)
    </script>
}