@using BankingApp.Core.Application.ViewModels.User;
@model List<UserViewModel>;

@{
    ViewData["Title"] = "Usuarios";
}


<div class="container-fluid">
    <div class="shadow p-3 mb-5 bg-body-tertiary rounded border">

        <h1 class="text-center fw-bold text-success mb-5">Usuarios</h1>

        <div class="row mb-4">
            <form class="col-6 offset-3" method="post" asp-controller="User" asp-action="FindByUserName">
                <div class="btn-group d-flex mb-3 mb-md-0">
                    <input type="text" name="userName" placeholder="Buscar Usuario" class="form-control me-2" />
                    <button type="submit" class="btn-success px-3 py-2 rounded-2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                        </svg>
                    </button>
                </div>
            </form>
        </div>

        <div class="row mb-4">
            @* Activos *@

            <h2 class="text-center fw-bold text-success mb-5">Activos</h2>
            <div class="col-6 border-end">
                <h3 class="text-center fw-bold mb-5 mt-2 text-success">Clientes</h3>
                <div class="full-height">
                    <div class="users-grid">

                        <div class="mb-3">
                            <div class="card">
                                <div class="card-body">
                                    <div class="card-title">
                                        <div class="d-flex align-items-center justify-content-start gap-1">
                                            <div class="border border-2 border-warning p-1 rounded-circle">
                                                <div class="bg-success shadow-lg p-3 rounded-circle">
                                                    <h4 class="mb-0 text-white fw-bold">NA</h4>
                                                </div>
                                            </div>
                                            <h4 class="mb-0 text-decoration-underline text-wrap">Nombre Apellido Prueba</h4>
                                        </div>
                                    </div>
                                    <div class="">
                                        <h5 class="fw-bold">Usuario: <span class="fw-normal">nombreapellido</span></h5>
                                        <h5 class="fw-bold">Tipo: <span class="fw-normal">Cliente</span></h5>
                                        <h5 class="fw-bold">Estado: <span class="fw-normal">Inactivo</span></h5>
                                    </div>

                                    <div class="d-flex justify-content-end gap-2 align-items-center mt-3">
                                        <a class="btn btn-warning">Editar</a>
                                        <a class="btn btn-danger">Eliminar</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

            </div>

            <div class="col-6 border-end">
                <h3 class="text-center fw-bold mb-5 mt-2 text-success">Administradores</h3>
                <div class="full-height">
                    <div class="users-grid">

                        <div class="mb-3">
                            <div class="card">
                                <div class="card-body">
                                    <div class="card-title">
                                        <div class="d-flex align-items-center justify-content-start gap-1">
                                            <div class=" bg-success p-3 rounded-circle">
                                                <h4 class="mb-0 text-white">NA</h4>
                                            </div>
                                            <h4 class="mb-0 text-decoration-underline text-wrap">Nombre Apellido Prueba</h4>
                                        </div>
                                    </div>
                                    <div class="">
                                        <h5 class="fw-bold">Usuario: <span class="fw-normal">nombreapellido</span></h5>
                                        <h5 class="fw-bold">Tipo: <span class="fw-normal">Cliente</span></h5>
                                        <h5 class="fw-bold">Estado: <span class="fw-normal">Inactivo</span></h5>
                                    </div>

                                    <div class="d-flex justify-content-end gap-2 align-items-center mt-3">
                                        <a class="btn btn-warning">Editar</a>
                                        <a class="btn btn-danger">Eliminar</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

            </div>

        </div>


        <div class="row">
            @* Inactivos *@

            <h2 class="text-center fw-bold text-success mb-5">Inactivos</h2>
            <div class="col-6 border-end">
                <h3 class="text-center fw-bold mb-5 mt-2 text-success">Clientes</h3>
                <div class="full-height">
                    <div class="users-grid">

                        <div class="mb-3">
                            <div class="card">
                                <div class="card-body">
                                    <div class="card-title">
                                        <div class="d-flex align-items-center justify-content-start gap-1">
                                            <div class=" bg-success p-3 rounded-circle">
                                                <h4 class="mb-0 text-white">NA</h4>
                                            </div>
                                            <h4 class="mb-0 text-decoration-underline text-wrap">Nombre Apellido Prueba</h4>
                                        </div>
                                    </div>
                                    <div class="">
                                        <h5 class="fw-bold">Usuario: <span class="fw-normal">nombreapellido</span></h5>
                                        <h5 class="fw-bold">Tipo: <span class="fw-normal">Cliente</span></h5>
                                        <h5 class="fw-bold">Estado: <span class="fw-normal">Inactivo</span></h5>
                                    </div>

                                    <div class="d-flex justify-content-end gap-2 align-items-center mt-3">
                                        <a class="btn btn-warning">Editar</a>
                                        <a class="btn btn-danger">Eliminar</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

            </div>

            <div class="col-6 border-end">
                <h3 class="text-center fw-bold mb-5 mt-2 text-success">Administradores</h3>
                <div class="full-height">
                    <div class="users-grid">

                        <div class="mb-3">
                            <div class="card">
                                <div class="card-body">
                                    <div class="card-title">
                                        <div class="d-flex align-items-center justify-content-start gap-1">
                                            <div class=" bg-success p-3 rounded-circle">
                                                <h4 class="mb-0 text-white">NA</h4>
                                            </div>
                                            <h4 class="mb-0 text-decoration-underline text-wrap">Nombre Apellido Prueba</h4>
                                        </div>
                                    </div>
                                    <div class="">
                                        <h5 class="fw-bold">Usuario: <span class="fw-normal">nombreapellido</span></h5>
                                        <h5 class="fw-bold">Tipo: <span class="fw-normal">Cliente</span></h5>
                                        <h5 class="fw-bold">Estado: <span class="fw-normal">Inactivo</span></h5>
                                    </div>

                                    <div class="d-flex justify-content-end gap-2 align-items-center mt-3">
                                        <a class="btn btn-warning">Editar</a>
                                        <a class="btn btn-danger">Eliminar</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

            </div>




        </div>


    </div>

</div>